{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ document.title }}</h1>

  <p><strong>Author:</strong> <a href="">{{ document.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Tags:</strong> {% for tag in document.tags.all %} {{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  <p><strong>Price:</strong> {{ document.price.value_from_object }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in document.documentinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
        {% if copy.status == 'a' %}<a class="btn btn-success" href="{% url 'claim-document' copy.id %}">Claim</a> {% endif %}
        {% if copy.status == 'o' %}<a class="btn btn-primary" href="{% url 'return-document' copy.id %}">Return</a> {% endif %}
    {% endfor %}

  </div>
{% endblock %}